{% extends 'blog.html' %}
{% block title %}Post upload{% endblock %}
{% block content %}
{% if user.is_authenticated %}

<section class="contact">
    <h1>Add Category</h2>
    <div class="container">
       <div class="contactform">
      
        <form method="POST">
            {% csrf_token %}
            <div class="inputbox">
                <input type="text" name="title" required="required">
                <span>Title</span>
            </div>
            <div class="inputbox">
                {{ form.category }}  <!-- This will render the dropdown for the category -->
                <span>Category</span>
            </div>
            <div class="inputbox">
                {{ form.author }}  <!-- This will render the dropdown for the author -->
                <span>Author</span>
            </div>
            <div class="inputbox">
                <textarea  name="content" required="required" id="auto-resize" rows="1"></textarea>
                <span>Type your message...</span>
            </div>
            <div class="inputbox">
                <input type="submit" name="" value="Add category">
                
            </div>
        </form>
       </div>
        </div>
</section>
<script> textarea = document.getElementById('auto-resize');

textarea.addEventListener('input', function() {
  // Reset the height to auto to calculate the new height
  textarea.style.height = 'auto';
  // Set the height equal to the scrollHeight to grow the textarea
  textarea.style.height = textarea.scrollHeight + 'px';
});</script>
{% else %}
<h1>Login Please</h1>
{% endif %}
{% endblock %}