{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Nulface{% endblock %}</title>
    <script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    
    <link rel="stylesheet" href = "{% static 'blog.css' %}">
    {{ form.media }}
</head>
<body class="blog_body">
 
    <nav class="navbar">
        <a href="/">
            <img src="{% static 'images/logo1-white.svg' %}" alt="Brand Logo" class="logo">
        </a>
        <ul class="nav-links">
            {% if user.is_authenticated %}
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            
           {% else %}
            <li><a href="/">Home</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
           {% endif %}
          
            
        </ul>
    </nav>
    {% if messages %}  
      {% for message in messages %}
         <!-- Success Alert -->
         <div class="alert alert-success" id="custom-alert">
         <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
         {{message}}
         </div>
       
      {% endfor %}
    {% endif %}
    {% block content %}
    <section class="content">
        <div class="left">
            <div class="categories">
                <h2>Categories</h2>
                <div class="card">
                    <p>Cyber Security</p>
                </div>
                <div class="card">
                    <p>Graphics Design</p>
                </div>
                <div class="card">
                    <p>UI/UX Design</p>
                </div>
                <div class="card">
                    <p>Networking</p>
                </div>
                <div class="card">
                    <p>Experiences</p>
                </div>
            </div>
            <div class="top-posts">
                <h2>Top Posts</h2>
                {% for post in top_posts %}
                <div class="card">
                    <div class="card-info">
                        <p class="sn">{{ forloop.counter }}</p>
                        <div class="info">
                            <div class="title"><a href="{% url 'post' post.pk %}" style="text-decoration: none;color: black;">{{post.title}}</a></div>
                            <div class="category-mini">{{post.category}}</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <h1>Upload new post</h1>
                <button style="padding: 8px; background-color: #1D3557;"><a href="{% url 'upload' %}" style="text-decoration: none; color: white; font-weight: 800;">Upload Post</a></button>
            </div>
        </div>
       
        <div class="right">
            <h2>Latest Post</h2>
            <div class="post-card" id="latest">
                <div class="image"></div>
                <div class="card-content">
                  <p class="category-mini">Graphics Design</p>
                  <div class="card-details">
                    <p class="title"><a href="/post" style="text-decoration: none; color: black;">The Art Of Designing A Brand Logo</a></p>
                  </div>
                  
                </div>
              </div>
              <h2>Recent Posts</h2>
              {% for post in recent_posts %}
              <div class="post-card" id="latest">
                <div class="image"></div>
                <div class="card-content">
                    <div class="mini-details" style="display: flex; justify-content: center; gap: 10px; flex-wrap: wrap;">
                        <p class="category-mini">- {{post.category}}</p>
                        <p class="category-mini">- {{post.author}}</p></div>
                  
                  <div class="card-details">
                    <p class="title"><a href="{% url 'post' post.pk %}" style="text-decoration: none;color: black;">{{post.title}}</a></p>
                    <p>{{ post.content|slice:":100" }}...</p>  <!-- Show the first 100 characters as a snippet -->
                  </div>
                 
                </div>
               </div>
               {% endfor %}
                
        </div>
    </section>
    {% endblock %}
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-logo">
                <img src="{% static 'images/logo1-white.svg' %}" alt="Logo">
            </div>
            <div class="footer-links">
                <a href="/">Home</a>
                <a href="/blog">Blog</a>
                <a href="#">Contact</a>
            </div>
            <div class="footer-socials">
                <a href="#"><img src="{% static 'images/twitter.png' %}" alt="X"></a>
                <a href="#"><img src="{% static 'images/linkedin.png' %}" alt="LinkedIn"></a>
                <a href="#"><img src="{% static 'images/medium.png' %}" alt="Medium"></a>
            </div>
        </div>
    </footer>
    <script>
        // Hide the alert after 5 seconds (5000 milliseconds)
        setTimeout(function() {
            var alert = document.getElementById('custom-alert');
            if (alert) {
                alert.style.display = 'none';
            }
        }, 3000);
    </script>
  </body>
  </html>