{% extends 'blog.html' %}
{% block title %}Edit Post{% endblock %}
{% block content %}
{% if user.is_authenticated %}
  {% if user.id == post_details.author.id %}
  <section class="contact">
    <h1>Delete Blog Post</h1>
    <h3>Delete: {{post_details.title}}</h3>
    <div class="container">
       <div class="contactform">
        <form method="POST">
            {% csrf_token %}
            
            
            <div class="inputbox">
                <input type="submit" value="Delete Post">
            </div>
        </form>
       </div>
    </div>
    </section>
    <div class="loader"></div>
    <script> 
    textarea = document.getElementById('auto-resize');
    textarea.addEventListener('input', function() {
    textarea.style.height = 'auto';
    textarea.style.height = textarea.scrollHeight + 'px';
    });
    </script>
  {% else %}
  <h1>Login Please</h1>
  {% endif %}
{% else %}
<h1>Login Please</h1>

{% endif %}
{% endblock %}
