{% extends 'blog.html' %}
{% block title %}Posts{% endblock %}
{% block content %}
{% if user.is_authenticated %}
   {% if user.id == post_details.author.id %}
      <div class="actions" style="float: right;">
      <a href="{% url 'edit_post' post_details.pk %}" style="text-decoration: none; color: blue;">Edit Post</a>
      <br>
      <a href="{% url 'delete_post' post_details.pk %}" style="text-decoration: none; color: red;">Delete Post</a>
      </div>
   {% endif %}
{% endif %}
<div class="blog-post" style="text-align: center;">
    <h1>{{post_details.title}}</h1>
    <p>{{post_details.content|safe}}</p>
</div>



{% endblock %}